PORT=5000
MONGODB_URI=mongodb+srv://wisdomvolt:BJDaURbqP5A4FmEr@cluster0.f9w8jpk.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
JWT_SECRET=your-super-secret-jwt-key
JWT_EXPIRES_IN=24h
NODE_ENV=development

# Test wallet from ArLocal (for development)
ARWEAVE_TEST_WALLET={"kty":"RSA","n":"z6HhKMXocRFoSkiVBlkVolgf1zh9LBoMJVkg7GjXW2ffulchrYSjo8SnJBYANE_pzW-g5Q7HqgyjsSzs5m9cPztATDPygwf0feVCOTHTvpDXMQ2hkfxKU9Ch48MvMuBUgYwiBuoEqlG87lH77QnY1v6WTAQIgGGj33dJUsYNn88DAB2tU7UIrL4mIXNGJChZEFpvbr7XOuRp27B7vsbX7kHuwhOafenLdPUpLS_HRPGjsbs7G355zMVV-OPrEOi9ny44OboPWqjSKKz_PNS8qZK6QXhIeDthZGc_tL2WRymegVNDwHE029BtuRczoG_xIr9zTdeh8ZaOGuociDgeCF-_dAk9yhKUYEuecAZjS6wz9hdWeGMhpbVzLZNxQd2ExO3zLj2ZAhWbgPYif5MF24DfNmJV3cGqk_kIDYJv2HvxxQ3fQp9RS3125aNRp1zakvsiJUPxIci3FzUdIBBeelRIdo6MJY5VulFXULr-7ZKjQwEgM4VKv3m6GtJ1Uein6X6uyXWAkcsuc55vCn7-L7tZOw8jepWtbH1u3xYHaYaLIprM7TVPbTKNHNEED13SdQfFg04l8tm0xr0zQmyFZuw4rB-iPQcdPAlL-69vvRT8kBJCKnO58yKRP15h5-VzlLQbD1z8gywC-S78k4GilqmEMKV8qO